.Reason{
    display: block;
    width: 470px;
    height: 60px;
    color: #666;
    border: 1px solid #ccc;
    outline: 0 none;
    box-shadow: 0 0 5px #999;
    border-radius: 3px;
    box-sizing: border-box;
    transition: all 200ms linear;
}
#inputType,#ModalFrom,#ModalTo{
    width:200px;

    position: absolute;
    right: 50px;
}


