/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 5, 2020, 7:33:24 PM
    Author     : DELL
*/

.form-inline{
    align:right;
    margin:20px;
}
.form-group{
    margin:20px;
}
#Name,#Email,#Address{
        width:200px;
     
     position: absolute;
     right: 50px;
}
#Edit{
    position: absolute;
     right: 10px;
}